<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/profile.css">
    <link rel="stylesheet" href="/style/navbar.css">
    <title><%= user.username %> | Studium</title>
</head>
<body>
    <%- include("./navbar.ejs"), { user } %>

    <div class="small_page_container">
        <% if (user_exists) { %>
            <img class='profile_avatar' src="<%= user.avatar_path %>">
            <p><b>Username:</b> <%= user.username %></p>
            <p><b>Name:</b> <%= user.forename %> <%= user.surname %></p>
            <p><b>Email:</b> <%= user.email %></p>
        <% } else { %>
            <p>User account not found</p>
        <% } %>
    </div>
</body>
</html>