<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/login_register.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.4/dist/js.cookie.min.js"></script>
    <script src="/scripts/register.js" type="application/javascript"></script>
    <script src="/scripts/session_messages.js" type="application/javascript"></script>
    <script src="/scripts/helper_icons.js" type="application/javascript"></script>
    <title>Register | Studium</title>
</head>
<body>
    <%- include ("./alert.ejs") %>
    <%- include ("./navbar.ejs", { current_user }) %>
    <%- include ("./bottom_banner.ejs") %>

    <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
        <% var entered_email = ""; %>
        <% var entered_username = ""; %>
        <% var entered_forename = ""; %>
        <% var entered_surname = ""; %>
        <% var entered_password = ""; %>
        <% var entered_confirm_password = ""; %>

        <% if (typeof email !== 'undefined') { %>
            <% entered_email = email; %>
        <% } %>

        <% if (typeof username !== 'undefined') { %>
            <% entered_username = username; %>
        <% } %>

        <% if (typeof forename !== 'undefined') { %>
            <% entered_forename = forename; %>
        <% } %>

        <% if (typeof surname !== 'undefined') { %>
            <% entered_surname = surname; %>
        <% } %>

        <% if (typeof password !== 'undefined') { %>
            <% entered_password = password; %>
        <% } %>

        <% if (typeof confirm_password !== 'undefined') { %>
            <% entered_confirm_password = confirm_password; %>
        <% } %>

        <% var email_error_message = ""; %>
        <% var email_error_message_display_type = ""; %>

        <% var username_error_message = ""; %>
        <% var username_error_message_display_type = ""; %>

        <% var forename_error_message = ""; %>
        <% var forename_error_message_display_type = ""; %>

        <% var surname_error_message = ""; %>
        <% var surname_error_message_display_type = ""; %>

        <% var password_error_message = ""; %>
        <% var password_error_message_display_type = ""; %>

        <% var confirm_password_error_message = ""; %>
        <% var confirm_password_error_message_display_type = ""; %>

        <% errors.forEach(function(error) { %>
            <% console.log(error); %>
            <% if (error.error_type === "email_error") { %>
                <% email_error_message = error.error_message; %>
                <% email_error_message_display_type = "block"; %>
            <% } else if (error.error_type === "username_error") { %>
                <% username_error_message = error.error_message; %>
                <% username_error_message_display_type = "block"; %>
            <% } else if (error.error_type === "forename_error") { %>
                <% forename_error_message = error.error_message; %>
                <% forename_error_message_display_type = "block"; %>
            <% } else if (error.error_type === "surname_error") { %>
                <% surname_error_message = error.error_message; %>
                <% surname_error_message_display_type = "block"; %>
            <% } else if (error.error_type === "password_error") { %>
                <% password_error_message = error.error_message; %>
                <% password_error_message_display_type = "block"; %>
            <% } else { %>
                <% confirm_password_error_message = error.error_message; %>
                <% confirm_password_error_message_display_type = "block"; %>
            <% } %>
        <% }) %>
    <% } %>

    <div class="small_page_container">
        <div id="register_form_container">
            <div id="register_form_header_and_helper_icon_wrapper">
                <h1 id="register_form_header">Register Account</h1>

                <div class='helper_icon_wrapper'>
                    <img id='register_form_header_helper_icon' class='helper_icon' src='/images/helper_icon.png'>

                    <div id='register_form_header_helper_icon_text_wrapper' class='helper_icon_text_wrapper helper_icon_text_wrapper_bottom'>
                        <p class="helper_icon_text">
                            On this page you can register a new Studium account. Fill out your details below. Once you've finished, 
                            click the "Create Account" button. If your details are accepted, you will then be logged into your new 
                            account.
                        </p>
                    </div>
                </div>
            </div>

            <form id="register_form" method="post" action="/register" novalidate>
                <div class="field_wrapper">
                    <div class="field_label_and_helper_icon_wrapper">
                        <label for="register_email_input" class="field_label">Email Address</label>

                        <div class='helper_icon_wrapper'>
                            <img id='register_email_input_helper_icon' class='helper_icon' src='/images/helper_icon.png'>
        
                            <div id='register_email_input_helper_icon_text_wrapper' class='field_label_helper_icon_text_wrapper helper_icon_text_wrapper helper_icon_text_wrapper_top'>
                                <p class="helper_icon_text">
                                    Enter your email address in the text box below. Your email address must not be in use by another 
                                    Studium account and must be in a valid email format (e.g., john_smith@gmail.com).
                                </p>
                            </div>
                        </div>
                    </div>
                    <input id="register_email_input" name="email" type="email" class="register_input" 
                        placeholder="Enter your chosen email address here..." value="<%=entered_email%>">
                    <p id="register_email_error_message" class="page_error_message <%=email_error_message_display_type%>">
                        <%=email_error_message%>
                    </p>
                </div>

                <div class="field_wrapper">
                    <div class="field_label_and_helper_icon_wrapper">
                        <label for="register_username_input" class="field_label">Username</label>

                        <div class='helper_icon_wrapper'>
                            <img class='helper_icon' src='/images/helper_icon.png'>
        
                            <div class='field_label_helper_icon_text_wrapper helper_icon_text_wrapper helper_icon_text_wrapper_top'>
                                <p class="helper_icon_text">
                                    Enter your chosen username in the text box below. The username must not be in use by another 
                                    Studium account, must not contain any spaces, and must be no longer than 30 characters.
                                </p>
                            </div>
                        </div>
                    </div>
                    <input id="register_username_input" name="username" type="text" class="register_input" 
                        placeholder="Enter your chosen username here..." value="<%=entered_username%>">
                    <p id="register_username_error_message" class="page_error_message <%=username_error_message_display_type%>">
                        <%=username_error_message%>
                    </p>
                </div>

                <div class="field_wrapper">
                    <div class="field_label_and_helper_icon_wrapper">
                        <label for="register_forename_input" class="field_label">Forename(s)</label>

                        <div class='helper_icon_wrapper'>
                            <img class='helper_icon' src='/images/helper_icon.png'>
        
                            <div class='field_label_helper_icon_text_wrapper helper_icon_text_wrapper helper_icon_text_wrapper_top'>
                                <p class="helper_icon_text">
                                    Enter your forename in the text box below. If you have any middle names you can 
                                    include them here.
                                </p>
                            </div>
                        </div>
                    </div>
                    <input id="register_forename_input" name="forename" type="text" class="register_input" 
                        placeholder="Enter your forename here..." value="<%=entered_forename%>">
                    <p id="register_forename_error_message" class="page_error_message <%=forename_error_message_display_type%>">
                        <%=forename_error_message%>
                    </p>
                </div>

                <div class="field_wrapper">
                    <div class="field_label_and_helper_icon_wrapper">
                        <label for="register_surname_input" class="field_label">Surname</label>

                        <div class='helper_icon_wrapper'>
                            <img class='helper_icon' src='/images/helper_icon.png'>
        
                            <div class='field_label_helper_icon_text_wrapper helper_icon_text_wrapper helper_icon_text_wrapper_top'>
                                <p class="helper_icon_text">
                                    Enter your surname in the text box below.
                                </p>
                            </div>
                        </div>
                    </div>
                    <input id="register_surname_input" name="surname" type="text" class="register_input"
                        placeholder="Enter your surname here..." value="<%=entered_surname%>">
                    <p id="register_surname_error_message" class="page_error_message <%=surname_error_message_display_type%>">
                        <%=surname_error_message%>
                    </p>
                </div>

                <div class="field_wrapper">
                    <div class="field_label_and_helper_icon_wrapper">
                        <label for="register_password_input" class="field_label">Password</label>

                        <div class='helper_icon_wrapper'>
                            <img class='helper_icon' src='/images/helper_icon.png'>
        
                            <div class='field_label_helper_icon_text_wrapper helper_icon_text_wrapper helper_icon_text_wrapper_top'>
                                <p class="helper_icon_text">
                                    Enter your chosen password in the text box below. Your password must be at least 6 
                                    characters long and cannot contain any spaces. To protect your account you won't see the 
                                    characters you type.
                                </p>
                            </div>
                        </div>
                    </div>
                    <input id="register_password_input" name="password" type="password" class="register_input"
                        placeholder="Enter your chosen password here..." value="<%=entered_password%>">
                    <p id="register_password_error_message" class="page_error_message <%=password_error_message_display_type%>">
                        <%=password_error_message%>
                    </p>
                </div>

                <div class="field_wrapper">
                    <div class="field_label_and_helper_icon_wrapper">
                        <label for="register_confirm_password_input" class="field_label">Confirm Password</label>

                        <div class='helper_icon_wrapper'>
                            <img class='helper_icon' src='/images/helper_icon.png'>
        
                            <div class='field_label_helper_icon_text_wrapper helper_icon_text_wrapper helper_icon_text_wrapper_top'>
                                <p class="helper_icon_text">
                                    Confirm your chosen password in the text box below. This is to help ensure your account will 
                                    have the exact password you wish it to have.
                                </p>
                            </div>
                        </div>
                    </div>
                    <input id="register_confirm_password_input" name="confirm_password" type="password" class="register_input"
                        placeholder="Confirm your chosen password here..." value="<%=entered_confirm_password%>">
                    <p id="register_confirm_password_error_message" class="page_error_message <%=confirm_password_error_message_display_type%>">
                        <%=confirm_password_error_message%>
                    </p>
                </div>

                <div class="submit_button_and_helper_icon_wrapper">
                    <button id="register_submit_button" type="submit" class="white_button">Create Account</button>

                    <div class='helper_icon_wrapper'>
                        <img class='helper_icon' src='/images/helper_icon.png'>

                        <div id='register_submit_button_helper_icon_text_wrapper' class='field_label_helper_icon_text_wrapper helper_icon_text_wrapper helper_icon_text_wrapper_top'>
                            <p class="helper_icon_text">
                                When you click the Create Account button you will be signed into your new account, 
                                provided there are no issues with the details you have entered. If, however, there are 
                                issues, an error message will help you to resolve them.
                            </p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>